/* Selector universal*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;/* El ancho y alto incluyen padding + border. Más predecible para el diseño */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color:black;
    font-family:Georgia,'Times New Roman',Times,serif;
}
body{
    font-size:16px;
    background:#dfdfdf;
}


/*login*/
#fondo_inicial{
    min-height:100vh; /* Ocupa toda la altura de la pantalla */
    background:linear-gradient(135deg,#181A85,#3483FA,#DFDFDF); 
}

.login-contenedor{
    width:100%;
    margin-top:3%;
    display:flex;
    justify-content:center;
}

.login-tarjeta{
    width:400px;
    background-color:white;
    padding:35px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);/*sombra*/
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login-tarjeta img{
    width:120px;
    margin-bottom: 20px;
}

.login-tarjeta h2{
    text-align:center;
    color:#181A85;
    margin-bottom:25px;
}
.login-tarjeta button{
    background:#181A85;
}

.login-tarjeta button:hover{
    background:#11136b;
}

.error{
    display:none;
    color:red;
    text-align:center;
    margin-top:15px;
}


/*header*/

header{
    background-color:#181A85;
    display:flex;
    justify-content:space-between;
    align-items:center;
}


header img{
    width:82px;
    height:82px;
}


/*menu del perfil*/


.perfil-menu{
    padding-right:20px;
}

#perfil{
    width:54px;
    height:54px;
    cursor:pointer;
}
.menu_desplegable{
    position:absolute;
    top:60px;
    right:20px;
    width:180px;
    background:white;
    border-radius:8px;
    box-shadow:0 5px 15px rgba(0,0,0,.3);
    display:none;
}
.menu_desplegable.mostrar{
    display:block;
}
.menu_desplegable a{
    display:block;
    padding:12px;
    text-decoration:none;
    color:#181A85;
}
.menu_desplegable a:hover{
    background:#3483FA;
    color:white;
}

/*panel del preceptor*/
.menu{
    margin-top:20px;
    display:grid; /* Grid para tarjetas en doble columna*/
    grid-template-columns:repeat(2,1fr);
    gap:25px;
}
#titulo{
    text-align:center;
    color:#181A85;
}

#subtitulo{
    text-align:center;
    margin:5px;
}
.opcion{
    background-color:white;
    border:1px solid #000005;
    border-radius:12px;
    padding:15px;
    text-align:center;
    text-decoration:none;
    color:#181A85;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    transition:.3s;/*controla el tiempo para que el cambio no sea brusco*/
}
.opcion img{
    height:64px;
}
.opcion:hover{
    background:#3483FA;
    color:black;
    transform:scale(1.05);
}
.opcion h3{
    margin-top:10px;
    font-size:18px;
}


/*contenedores*/

.contenedor{
    width:90%;
    max-width:800px;
    margin:15px auto;
}
.tarjeta{
    background:white;
    padding: 20px 25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}


/*formularios*/

label{
    display:block;
    margin-top:15px;
}

input,select{
    width:100%;
    padding:10px;
    margin-top:5px;
    border:1px solid #DFDFDF;
    border-radius:5px;
}
button{
    width:100%;
    margin-top:20px;
    padding:12px;
    border:none;
    border-radius:5px;
    background-color:#27ae60;
    color:white;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#219150;
}
#formO{
    margin:88px ;
}
.contenedor #formObtenerInfoA{
    height:150px;
    margin:20px auto 20px;
}
#formObtenerInfoA  label{
    display:block;
    margin-top:25px;
}
#formObtenerInfoA input{
    margin-top:25px;
}
#formObtenerInfoA select{
    margin-top:25px;
}

#formObtenerInfoA button{
    width:100%;
    margin-top:25px;
}
/*reloj*/
#reloj{
    text-align:center;
    font-size:40px;
    font-weight:bold;
    margin-bottom:20px;
}


/*mensaje*/
.resultado{
    display:none;
    margin-top:20px;
    padding:15px;
    border-radius:5px;
}
.exito{
    background:#d4edda;
    color:#155724;
}


/*footer*/
footer{
    background:white;
    display:flex;
    justify-content:space-between; /* Espacio entre secciones */
    align-items:center;
    padding:10px 40px;
    flex-wrap:wrap; /* Permite que los elementos bajen a la siguiente línea si no caben */
}
.footer-logo{
    display:flex;
    align-items:center;
    gap:15px;
}
.footer-logo img{
    width:70px;
    height:70px;
}
.footer-logo h4{
    font-size:30px;
    color:#181A85;
}
.footer-direccion,
.footer-contacto{
    text-align:center;
}
.footer-contacto img{
    width:40px;
    margin:5px 8px;
    transition:.3s;
}
.footer-contacto img:hover{
    transform:scale(1.15);
}


/*responsive*/

@media(max-width:768px){
    .login-tarjeta{
        margin: 5%;
    }
    .login-container{
    width: 100%;
    margin-top: 20%;
    }
    #formO h2{
    text-align: center;
    }
    #formO {
    margin: 20px;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    #reloj{
        font-size:30px;
    }
    footer{
        flex-direction:column;
        text-align:center;
    }

    .footer-logo,
    .footer-direccion,
    .footer-contacto{
        width:100%;
        margin-bottom:20px;
    }
    .footer-logo{
        justify-content:center;
    }
    .footer-contacto img{
        width:36px;
        margin:8px 6px;
    }

}